/.idea/
/.vscode/
/pse-cars.iml

**/node_modules
**/.next

#*.env # In a real project, this should be here. We will commit .env files for the sake of the correctors trying to boot the project.

**/mosquitto.db

**/target
